.Notifications {
        padding: 1rem;
        border: solid 0.2rem;
}
.close-button img{
        width: 10px;
        height: 10px;
}
    
[data-priority="default"] {
        color: blue;
}
    
[data-priority="urgent"] {
        color: red;
}