.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  border-bottom: #e1514c solid .3rem;
  background-color: white;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  
  color: white;
}

.Title{
  color: #e1514c;
  margin-left: 0px;
}
.App-logo {
    width: 15%;
    margin-right: 2%;
}

.App-body {
  margin: 3rem;
  padding-bottom: 25%;
}


.App-footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  border-top: #e1514c solid .3rem;
  font-style: italic;
}


.App-link {
  color: #61dafb;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/